# 🧠 Python
__pycache__/
*.pyc
*.py[cod]
*.pyo

# 🐍 Virtual environment
.venv/
venv/
env/
.env
.env.*

# 🧱 Django
db.sqlite3
media/
static/
staticfiles/


# ⚙️ IDE / OS files
.idea/
.vscode/
.DS_Store
Thumbs.db